{# clases/Sitece16/Vistas/base/base.api.twig #}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		
		<title>
			{% block title %}
			{% endblock %}
		</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat|Didact+Gothic|Orbitron" />
		<link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ base_url() }}/css/bootstrap-dropdownhover.min.css" /0>
		<link rel="stylesheet" href="{{ base_url() }}/css/animate.min.css" />
		<link rel="stylesheet" href="{{ base_url() }}/css/121.css" />
		{% block stylesheets %}
		{% endblock %}
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-1 col-sm-10">
					{% include 'nav/' ~ usuario.role|default('guest') ~ '.api.twig' %}
						<section id="maincontent">
						<div class="card">
							<div class="card-header">
									{% block contentTitle %}
									{% endblock %}
							</div>
							<div class="card-text">
							{#<hr class="m-y-md">#}
									{% if usuario %}
										{% block content %}{% endblock %}
									{% else %}
										{% block guestcontent %}{% endblock %}
									{% endif %}
							</div>
						</div>
					</section>
					<br />
				{% if debug %}
					<section id="debug">
						<div class="card">
							<div class="card-block">
								<h4 class="card-title">X-Debug:</h4>
								<dir>
									<pre class="card-text">
{{ debug.exception }}
									</pre>
								</dir>
							{% for key, item in debug %}
									<h4 class="card-title">Debug: <code>{{ key }}</code></h4>                           
									<dir class="card-text">
										{{ dump(item) }}
									</dir>
								{% if not loop.last %}<hr class="m-y-md">{% endif %}  
							{% endfor %}
							</div>
						</div>
					</section>
				{% endif %}
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="text-muted float-right">
				Sitece16 
			</div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
		<script src="{{ base_url() }}/js/bootstrap-dropdownhover.min.js"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>