{% extends "baseSencilla.twig" %}

{% block title %}
	Tabla sencilla
{% endblock %}

{% block head %}
	{{ parent() }}
	<script src="https://unpkg.com/vue/dist/vue.js"></script>

{% endblock %}

{% block contentTitle %}
	{{ titulo }}
{% endblock %}
{% block content %}
	<p>
  <!-- plantilla de componente Vue: Tabla -->
  <script type="text/x-template" id="grid-template">
    <table>
      <thead>
        <tr>
          <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
            {{ key | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filteredData">
          <td v-for="key in columns">
            {{entry[key]}}
          </td>
        </tr>
      </tbody>
    </table>
  </script>
  <!-- Elemento raíz -->
  <div id="demo">
    <form id="search">
      Buscar: <input name="query" v-model="searchQuery">
    </form>
    <demo-grid
      :data="gridData"
      :columns="gridColumns"
      :filter-key="searchQuery">
    </demo-grid>
  </div>
{% endblock %}

{% block footer %}
	{{ parent() }}
	<script src="tabla.js"></script>
{% endblock %}